<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
        <!--
            alert("provami");
        //-->
        </script>
    </head>
    <body>
        <p>
            Hello {{ name }}!
        </p>
    </body>
</html>
