<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{{asset('prova.js')}}" lang="Javascript"></script>
        <script type="text/javascript">
        <!--
            alert(msg);     
            alert("prova");
        //-->
        </script>
    </head>
    <body>
        <p>
            Hello {{ name }}!
            Ciao da Tommaso!
            <br/>
            DIODO
        </p>
    </body>
</html>
