<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{{asset('prova.js')}}" lang="Javascript"></script>
        <script type="text/javascript">
            
            alert(msg);        
        </script>
    </head>
    <body>
        <p>
            Hello {{ name }}!
        </p>
    </body>
</html>
