<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
            var msg = null;
            msg = "prova";
            alert(msg);        
        </script>
    </head>
    <body>
        <p>
            Hello {{ name }}!
        </p>
    </body>
</html>
